* {
  font-family: Verdana;
}

body {
  padding: 0;
  margin: 0;
}

.titlebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5vh;
}

.title {
  font-size: calc(20px + 1vw);
}

.subtitle {
  font-size: calc(16px + 1vw);
}

.iconbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2vh;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom: 0.5vh;
}

.iconbox img {
  width: 3vw;
  transition: all 0.2s ease-in-out; /* voor animatie op un-hover: */
}

.iconbox img:hover {
  /* voor animatie op hover: */
  transform: scale(1.25);
  transition: 0.2s;
}

.iconhome:hover::before {
  content: attr(data-tooltip);
  z-index: -100;
}

.divider {
  display: flex;
  border-top: 5px dashed black;
  margin-left: 24vw;
  margin-right: 24vw;
  margin-bottom: 2.5vh;
}

/* TO DO: schaar op stippelijn link, animatie left-to-right (op paginawissel?)
.scissors {
  transform: rotate(-90deg);
  z-index: +1;
  scale: 10%;
}
*/

.projectdisplaybox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: calc(76vw - 24vw);
  margin: auto;
}

.projectdisplay {
  /*data-aos="fade-up"*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  width: 350px;
  height: 350px;
  border: 5px solid black;
}

/* wat kan ik hier weglaten? */
.navbar-links {
  display: none;
  height: 100%;
}

/* wat kan ik hier weglaten? */
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none; /*verwijdert alle vooraf ingestelde stijl van de list items*/
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1vw;
}

.toggle-button {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 4vh;
  right: 3vw;
  width: 3vw;
  height: 3vh;
}

#buntop {
  background-color: rgb(255, 145, 0);
  height: 7px;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#lettuce {
  background-color: rgb(13, 158, 0);
  height: 2px;
  width: 100%;
  border-radius: 4px;
}

#tomato {
  background-color: tomato;
  height: 2px;
  width: 100%;
  border-radius: 4px;
}

#meat {
  background-color: rgb(136, 54, 0);
  height: 2px;
  width: 100%;
  border-radius: 4px;
}

#bunbottom {
  background-color: rgb(255, 145, 0);
  height: 5px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*Hamburger mediaquery wordt uitgevoerd wanneer (= breakpoint) browservenster breedte < 1001px*/
@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.1s ease-out;
  }

  /*Hoe open toggelen? */
  .toggle-button.active {
    top: 3vh;
    height: 5vh;
    transition: 0.1s ease-in;
  }

  .navbar-links ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5vh;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links ul li a:hover {
    font-weight: bold;
  }

  .navbar-links.active {
    display: flex;
  }

  .iconbox {
    display: none;
  }
}
