.homeSlider {
  width: 200px;
  color: rgb(255, 255, 255, 0.85);
  scale: 8;
}

.homeSlider__slide {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  text-indent: 2px;
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .homeSlider {
    scale: 6;
  }
}

@media screen and (max-width: 1250px) {
  .homeSlider {
    scale: 4;
  }
}

@media screen and (max-width: 800px) {
  .homeSlider {
    scale: 2;
  }
}
