.projectsItem__thumbnail {
  height: 100%;
  min-height: 400px;
  width: 100%;
  min-width: 200px;
  max-width: 282px;
  object-fit: cover;
  transition: 0.25s;
}

.projectsItem:hover {
  cursor: pointer;
}
