.projects {
  height: auto;
  width: 80vw;
  margin: auto;
  margin-bottom: 40px;
}

.projects__flex {
  margin: auto;
  width: 100%;
  display: flex;
}

.projects__container {
  display: flex;
  height: 560px;
}

.projectsItem {
  height: 100%;
  width: 100%;
}

.projects__container:hover .projectsItem:not(:hover) {
  filter: brightness(0.8);
}

.lightbox {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.noDisplay {
  display: none;
}

.projects__title {
  font-size: xx-large;
  font-weight: 500;
  margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
}
