.projects {
  height: 620px;
  width: 100vw;
  margin: auto;
}

.projects__flex {
  margin: auto;
  width: 80%;
  display: flex;
}

.projects__container {
  display: flex;
  height: 560px;
  max-width: 843px;
  min-width: 598px;
  padding-right: 220px;
}

.projectsItem {
  height: 100%;
  width: 100%;
}

.projects__container:hover .projectsItem:not(:hover) {
  filter: brightness(0.8);
}

.lightbox {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.noDisplay {
  display: none;
}

.projects__pageTitle {
  width: auto;
  opacity: 0.4;
  margin: auto;
  font-size: xx-large;
  scale: 2;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 750px) {
  .projects__pageTitle {
    display: none;
  }
}
