.skills {
  height: 700px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
}

.skills__content {
  width: 80%;
  min-width: 480px;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.skills_leftSide {
  position: relative;
  width: 50vw;
  min-width: 390px;
  max-width: 1000px;
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-rows: 60px 500px;
  grid-template-columns: 80%;
}

.skills__rightSide {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  min-width: 380px;
}

.skills__contentTitle {
  grid-column: 1;
  grid-row: 1;
  font-size: x-large;
}

.skills__contentText {
  grid-column: 1;
  grid-row: 2;
}

.skills__contentText > p {
  font-weight: 200;
  font-size: x-large;
}

.cloud {
  cursor: grab;
}

.cloud:active {
  cursor: grabbing;
}

@media screen and (max-width: 1000px) {
  .skills__content {
    display: flex;
    flex-direction: column;
  }

  .skills {
    margin-top: 27.5vw;
  }

  .skills__contentText {
    grid-column: 1/3;
  }

  .skills__rightSide {
    width: 80%;
    margin: auto;
    margin-top: -150px;
    margin-bottom: 100px;
    scale: 0.8;
  }
}
