.togglebutton {
  width: 76px;
  height: 40px;
  background-color: red;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.togglebutton:hover {
  cursor: pointer;
}

.togglebutton__circle {
  width: 36px;
  height: 36px;
  background-color: black;
  border-radius: 18px;
  margin-left: 2px;
  transition: all 0.5s ease-in-out;
}

.toggled {
  transform: translateX(36px);
}
